@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pointer{
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
}

.menu-selector{
  position: absolute;
  display: flex;
  left: 85%;
  top: 16px;
  /* transform: translate(-50%); */
}

.menu-option{
  display: flex;
  /* background: #334155; */
  background: #334155;
  opacity: 60%;
  margin: 4px;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

.menu-selector img{
  width: 36px;
}

.menu-selector img.selected{
  display: flex;
  background: #6c93ca;
  margin: 4px;
  border-radius: 8px;
}

.instructions{
  position: absolute;
  display: flex;
  left: 60%;
  top: 16px;
  margin-right: 16px;
  background-color: #6c93ca;
  padding: 16px;
  opacity: 60%;
  border-radius: 8px;
  min-width: 10%;
}

.instructions-container p{
  font-weight: 500;
  color: aliceblue;
}

.instructions-container p > span{
  color: #083344;
  font-weight: bold;
}


.info{
  position: absolute;
  display: flex;
  left: 75%;
  top: 16px;
  margin-right: 8px;
  background-color: #6c93ca;
  padding-left: 16px;
  padding-right: 16px;
  opacity: 60%;
  border-radius: 8px;
  color: white;
}

.info span{
  font-weight: bold;
  color: #083344;
}